<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.softwarede.confersys.dtomapper.ShowMeetingDetail3Mapper">
  <resultMap id="BaseResultMap" type="team.softwarede.confersys.dto.MeetingDetailWithoutParticipantsList">
    <id column="id" jdbcType="INTEGER" property="mtId" />
    <result column="topic" jdbcType="VARCHAR" property="mtTopic" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="room_number" jdbcType="VARCHAR" property="mtRoomNum" />
    <result column="floor" jdbcType="INTEGER" property="mtRoomFloor" />
    <result column="building" jdbcType="VARCHAR" property="mtRoomBuilding" />
    <result column="meeting_content" jdbcType="VARCHAR" property="mtContent" />
    <result column="meeting_conclusion" jdbcType="VARCHAR" property="mtConclusion" />
    <result column="status_id" jdbcType="VARCHAR" property="mtStatus" />
    <result column="participants_status" jdbcType="VARCHAR" property="myParticipantStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, topic, begin_time, end_time, room_number, floor, building, meeting_content, meeting_conclusion, status_id, participants_status
  </sql>
    <select id="normalSelectByMeetingId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
 	select 
 	m.id, topic, begin_time, end_time, room_number, floor, building, meeting_content, meeting_conclusion, meeting_status_id, participants_status
 	from participates p, meeting m, schedule s, meeting_room mr
 	where 
	 	m.id = #{meetingId} and p.meeting_id = m.id and m.id = s.meeting_id and s.meeting_room_id = mr.id
 </select>
 </mapper>