<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.softwarede.confersys.mapper.LeaveApplicationMapper">
  <resultMap id="BaseResultMap" type="team.softwarede.confersys.entity.LeaveApplication">

    <id column="meeting_id" jdbcType="INTEGER" property="meetingId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="apply_status_id" jdbcType="CHAR" property="applyStatusId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <sql id="Base_Column_List">

    meeting_id, user_id, apply_time, apply_status_id, reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leave_application
    where meeting_id = #{meetingId,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leave_application
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from leave_application
    where meeting_id = #{meetingId,jdbcType=INTEGER}
  </delete>
  <insert id="submitLeaveApplication" parameterType="team.softwarede.confersys.entity.LeaveApplication">

    insert into leave_application (user_id, meeting_id, apply_time, 
      apply_status_id, reason)
    values (user_id = #{userId,jdbcType=VARCHAR}, meeting_id = #{meetingId,jdbcType=INTEGER}, apply_time = #{applyTime,jdbcType=TIMESTAMP}, 
      apply_status_id = #{applyStatusId,jdbcType=CHAR}, reason = #{reason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="team.softwarede.confersys.entity.LeaveApplication">

    insert into leave_application
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="meetingId != null">
        meeting_id,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="applyStatusId != null">
        apply_status_id,
      </if>
      <if test="reason != null">
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="meetingId != null">
        #{meetingId,jdbcType=INTEGER},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStatusId != null">
        #{applyStatusId,jdbcType=CHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.softwarede.confersys.entity.LeaveApplication">

    update leave_application
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStatusId != null">
        apply_status_id = #{applyStatusId,jdbcType=CHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where meeting_id = #{meetingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.softwarede.confersys.entity.LeaveApplication">

    update leave_application
    set user_id = #{userId,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      apply_status_id = #{applyStatusId,jdbcType=CHAR},
      reason = #{reason,jdbcType=VARCHAR}
    where meeting_id = #{meetingId,jdbcType=INTEGER}
  </update>
    <update id="updateLeaveStatus" parameterType="team.softwarede.confersys.entity.LeaveApplication">

    update leave_application
    <set>
      <if test="applyStatusId != null">
        apply_status_id = #{applyStatusId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR} and meeting_id = #{meetingId,jdbcType=INTEGER}
  </update>
</mapper>