<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="apublic_fragment">

<head>
<meta charset="utf-8">
<title>特殊通知</title>
</head>


<body>

	<!-- partial -->
	<div class="card-body" layout:fragment="content">

<script type="text/javascript">
	function test(x){
		alert(x);
	}
</script>
	

	  <div class="row" >
		<div class="col-12 grid-margin">
		  <div class="card">
			<div class="card-body">
			  <h4 class="card-title">特殊通知</h4>
			  <div class="table-responsive">
				<table class="table" th:if="${notiSpIntroList}!=null">
				  <thead>
					<tr>
					  <th>
						申请者编号
					  </th>
					  <th>
						申请者
					  </th>
					  <th>
						类型
					  </th> 
					  <th>
					  	相关编号
					  </th>
					  <th>
					  	申请时间
					  </th>
					  <th>
						  <select name="typeId" style="font-size: 14px;">投影笔
			            	<option th:each="type : ${types}"
			            		th:text="${type.getDescription()}"
			            		th:value="${type.ordinal()}"
			            		th:selected="${selectedTypeId}==${type.ordinal()}"
			            		text="投影笔">
			            	</option>
						  </select>
						  <button th:onclick="|test('${typeId}')|">-></button>
					      <!-- <select th:field="*{types}" style="font-size: 14px;">投影笔
			            	<option th:each="type : ${types}"
			            		th:text="${type.getDescription()}"
			            		th:value="${type.ordinal()}"
			            		th:selected="${selectedTypeId}==${type.ordinal()}"
			            		th:href="@{/inform/sp/details.do(selectedTypeId=${type.ordinal()})}"
			            		text="投影笔">
			            	</option>
						  </select> -->
					  	
					  	
					  	
					  </th>
					</tr>
				  </thead>
				  <tbody>
					<tr th:each="notification : ${notiSpIntroList}">
					    <td th:text="${notification.getUserId()}"></td>
					    <td th:text="${notification.getApplicantName()}"></td>
					    <td th:text="${notification.getNotificationSpType()}"></td>
					    <td th:text="${notification.getReferId()}"></td>
					    <td th:text="${#dates.format(notification.getApplyTime(), 'yyyy-MM-dd HH:mm')}"></td>
						<td>
						<a class="btn btn-secondary" th:href="@{/inform/sp/details.do(
							referId=${notification.getReferId()},
							type=${notification.getNotificationSpType()},
							applicantId=${notification.getUserId()}
						)}">
						查看详情
						</a>
						</td>
					</tr>
			      </tbody>
				</table>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
  </div>

	
	
</body>
</html>