<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="apublic_fragment">

<head>
<meta charset="utf-8">
<title>一般通知</title>
</head>


<body>

	<!-- partial -->
	<div class="card-body" layout:fragment="content">
	

	  <div class="row" >
		<div class="col-12 grid-margin">
		  <div class="card">
			<div class="card-body">
			  <h4 class="card-title">一般通知</h4>
			  <div class="table-responsive">
				<table class="table" th:if="${notiList}!=null">
				  <thead>
					<tr>
					  <th>
						编号
					  </th>
					  <th>
						类型
					  </th>
					  <th>
						信息
					  </th>
					  <th>
						状态
					  </th>
					</tr>
				  </thead>
				  <tbody>
					<tr th:each="notification : ${notiList}">
					    <td th:text="${notification.getNotificationId()}"></td>
					    <td th:text="${notification.getNotificationType()}"></td>
					    <td th:text="${notification.getReferMsg()}"></td>
					    <td th:text="${notification.getStatus()}"></td>
						<td>
						<a class="btn btn-secondary" th:href="@{/inform/normal/details.do(informId=${notification.getNotificationId()})}">
						查看详情
						</a>
						</td>
					</tr>
			      </tbody>
				</table>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
  </div>

	
	
</body>
</html>