<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="apublic_fragment">

<head>
<meta charset="utf-8">
<title>一般通知</title>
</head>

<body>

	<!-- partial -->
	<div class="card-body" layout:fragment="content">
	
	  
	  <div class="row" id="notificationDetail">
		<div class="col-12 grid-margin">
		  <div class="card">
			<div class="card-body">
			  <h4 class="card-title">通知详情</h4>
			  <div class="table-responsive">
				<table class="table" th:if="${notiDetails}!=null">
				  
					<tr>
					  	<td>通知编号</td>
					  	<td th:text="${notiDetails.getNoteId()}"></td>
				    </tr>
				    <tr>
				    	<td>通知类型</td>
				    	<td th:text="${notiDetails.getNoteType()}"></td>
				    </tr>
				    <tr>
				    	<td>通知详情</td>
				    	<td th:text="${notiDetails.getNoteDetail()}"></td>
				    </tr>
				    <tr>
				    	<td>相关信息</td>
				    	<td th:text="${notiDetails.getNoteReferMtName()}"></td>
				    </tr>
				    <tr>
				    	<td>相关编号</td>
				    	<td th:text="${notiDetails.getNoteReferMtId()}"></td>
				    </tr>
				    <tr>
				    	<td>通知状态</td>
				    	<td th:text="${notiDetails.getNoteStatus()}"></td>
				    </tr>
			
				</table>
				
				<div th:if="${notiDetails.getNoteType()=='新会议' ||
					notiDetails.getNoteType()=='请假结果' ||
					notiDetails.getNoteType()=='审核结果'
					}">
					<a class="btn btn-secondary" th:href="@{/meeting/mt_detail.do(mtId=${notiDetails.getNoteReferMtId()})}">
						查看会议详情
					</a>
				</div>
				
				<div th:if="${notiDetails.getNoteType()=='报修'}">
					<a class="btn btn-secondary" >
						查看设备详情
					</a>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	  
	  
</body>
</html>