<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
  <title>Purple Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../static/example/node_modules/mdi/css/materialdesignicons.min.css"
  		th:href="@{/example/node_modules/mdi/css/materialdesignicons.min.css}"></link>
  <link rel="stylesheet" href="../static/example/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css"
  		th:href="@{/example/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css}"></link>
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../static/example/node_modules/font-awesome/css/font-awesome.min.css" 
  		th:href="@{example/node_modules/font-awesome/css/font-awesome.min.css}" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../static/example/css/style.css"
  		th:href="@{/example/css/style.css}" ></link>
  <!-- endinject -->
  <link rel="shortcut icon" href="../static/example/images/favicon.png"
  		 th:href="@{example/images/favicon.png}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
      <div class="row">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth-pages">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3">Login</h3>
              <form action="/user/tologin.do" method="post" th:object="${loginForm}">
                <div class="form-group">
                  <label>用户编号</label>
                  <input type="text" class="form-control p_input" name="userId" th:field="*{userId}"></input>
                  <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" style="color:#FF0000">errors userId</p>
                </div>
                <div class="form-group">
                  <label>密码</label>
                  <input type="password" class="form-control p_input" name="password" th:field="*{password}"></input>
                  <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:#FF0000">errors password</p>
                </div>
				<div class="form-group">
                  <label>身份 &nbsp;</label>
                  
                  <select th:field="*{identityId}" style="font-size: 14px;">投影笔
	            	<option th:each="identity : ${identities}"
	            		th:text="${identity.getDescription()}"
	            		th:value="${identity.getValue()}"
	            		text="投影笔">
	            	</option>
				  </select>
				  
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">登录</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
<!-- plugins:js -->
<script src="../static/example/node_modules/jquery/dist/jquery.min.js"
	th:src="@{/example/node_modules/jquery/dist/jquery.min.js}" ></script>
<script src="../static/example/node_modules/popper.js/dist/umd/popper.min.js"
	th:src="@{/example/node_modules/popper.js/dist/umd/popper.min.js}"></script>
<script src="../static/example/node_modules/bootstrap/dist/js/bootstrap.min.js"
	th:src="@{/example/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
<script src="../static/example/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"
	th:src="@{/example/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js}"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../static/example/js/off-canvas.js"
	th:src="@{/example/js/off-canvas.js}"></script>
<script src="../static/example/js/misc.js"
	th:src="@{/example/js/misc.js}"></script>
<!-- endinject -->
</body>

</html>
