<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="apublic_fragment">

<head>
<meta charset="utf-8">
<title>请假</title>
</head>
<body>

	<!-- partial -->
	<div class="card-body" layout:fragment="content">
	  
	  <div class="row" id="notificationDetail">
		<div class="col-12 grid-margin">
		  <div class="card">
			<div class="card-body">
			  <h4 class="card-title">请假详情</h4>
			  <div class="table-responsive">
				<table class="table" th:if="${details}!=null">
				  
					<tr>
					  	<td>申请者编号</td>
					  	<td th:text="${details.getLeaveApplicationId()}"></td>
				    </tr>
				    <tr>
				    	<td>申请人名字</td>
				    	<td th:text="${details.getLeaveApplicantName()}"></td>
				    </tr>
				    <tr>
				    	<td>请假原因</td>
				    	<td th:text="${details.getLeaveApplyReason()}"></td>
				    </tr>
				    <tr>
				    	<td>会议编号</td>
				    	<td th:text="${details.getMtId()}"></td>
				    </tr>
				    <tr>
				    	<td>会议主题</td>
				    	<td th:text="${details.getMtTopic()}"></td>
				    </tr>
				    <tr>
				    	<td>申请时间</td>
				    	<td th:text="${#dates.format(details.getLeaveApplyTime(), 'yyyy-MM-dd HH:mm')}"></td>
				    </tr>
				    <tr>
				    	<td>
						<a class="btn btn-secondary" th:href="@{/meeting/leave/audit.do(
						audit=1,
						meetingId=${details.getMtId()},
						userId=${details.getLeaveApplicationId()}
						)}">
						同意
						</a>
				    	</td>
				    	<td>
						<a class="btn btn-secondary" th:href="@{/meeting/leave/audit.do(
						audit=0,
						meetingId=${details.getMtId()},
						userId=${details.getLeaveApplicationId()}
						)}">
						拒绝
						</a>
				    	</td>
				    </tr>			
			
				</table>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	  
	  
</body>
</html>