<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="apublic_fragment">

<head>
<meta charset="utf-8">
<title>请假</title>
</head>
<body>

	<!-- partial -->
	<div class="card-body" layout:fragment="content">	
	  
	  <div class="row" id="notificationDetail">
		<div class="col-12 grid-margin">
		  <div class="card">
			<div class="card-body">
			  <h4 class="card-title">请假申请</h4>
			  <div class="table-responsive">

              <form action="/meeting/leave/apply/apply.do" method="post">
                <div class="form-group">
                  <label>请假理由</label>
                  <input type="text" class="form-control p_input" name="reason" th:value="${reason}"></input>
                </div>
				<div class="form-group">
                  <label>请假会议编号 &nbsp;</label><br/>
                  <input type="text" class="form-control p_input" name="meetingId" th:value="${meetingId}"></input>
                </div> 
                 
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">提交</button>
                </div>
              </form>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>

</body>

</html>
