<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="apublic_fragment">

<head>
<meta charset="utf-8">
<title>会议详情</title>
</head>
<body>

	<!-- partial -->
	<div class="card-body" layout:fragment="content">
	
	  
	  <div class="row" id="notificationDetail">
		<div class="col-12 grid-margin">
		  <div class="card">
			<div class="card-body">
			  <h4 class="card-title">会议信息修改</h4>
			  <div class="table-responsive">
			  <form action="/meeting/details/edit.do" method="post">
				<table class="table" th:if="${details}!=null">
				  
					<tr>
					  	<td>会议编号</td>
					  	<td th:text="${details.getMtId()}"></td>
				    </tr>
				    <tr>
				    	<td>隐藏域</td>
					  	<td>
					  	<input type="text" class="form-control p_input" name="meetingId" 
				    	       th:value="${meetingId}" 
				    	       ></input>
					  	
					  	</td>
				    </tr>
				    <tr>
				    	<td>会议主题</td>
				    	<td th:text="${details.getMtTopic()}"></td>
				    </tr>
				    <tr>
				    	<td>会议内容</td>
				    	<td>
				    	<input type="text" class="form-control p_input" name="mtContent" 
				    	       th:value="${details.getMtContent()}" th:placeholder="${details.getMtContent()}"></input>
				    	</td>
				    </tr>
				    <tr>
				    	<td>会议结论</td>
				    	<td>
				    	<input type="text" class="form-control p_input" name="mtConclude" 
				    	       th:value="${details.getMtConclusion()}" th:placeholder="${details.getMtConclusion()}"></input>
				    	</td>
				    </tr>
					
				 </table>
				<div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">提交</button>
                </div>
				</form>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	  
	  
</body>
</html>