<!DOCTYPE html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home</title>
<!-- plugins:css -->
<link rel="stylesheet" href="../static/example/node_modules/mdi/css/materialdesignicons.min.css"
	th:href="@{/example/node_modules/mdi/css/materialdesignicons.min.css}" >
<link rel="stylesheet" href="../static/example/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css"
	th:href="@{/example/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css}" >
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet" href="../static/example/node_modules/jquery-bar-rating/dist/themes/css-stars.css"
	th:href="@{/example/node_modules/jquery-bar-rating/dist/themes/css-stars.css}" >
<link rel="stylesheet" href="../static/example/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"
	th:href="@{/example/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}" />
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="../static/example/css/style.css" 
	th:href="@{/example/css/style.css}">
<!-- endinject -->
<link rel="shortcut icon" href="../static/example/images/favicon.png"
	th:href="@{/example/images/favicon.png}" />
</head>


<body>

	<!-- partial -->
	<div class="content-wrapper">
	
	  
	  <div class="row" id="notificationDetail">
		<div class="col-12 grid-margin">
		  <div class="card">
			<div class="card-body">
			  <h4 class="card-title">通知详情</h4>
			  <div class="table-responsive">
				<table class="table" th:if="${mtApplyDetails}!=null">
				  
					<tr>
					  	<td>申请编号</td>
					  	<td th:text="${mtApplyDetails.getApplyId()}"></td>
				    </tr>
				    <tr>
				    	<td>会议编号</td>
				    	<td th:text="${mtApplyDetails.getMeetingId()}"></td>
				    </tr>
				    <tr>
				    	<td>会议主题</td>
				    	<td th:text="${mtApplyDetails.getMtTopic()}"></td>
				    </tr>
				    <tr>
				    	<td>会议内容</td>
				    	<td th:text="${mtApplyDetails.getMtContent()}"></td>
				    </tr>
				    <tr>
				    	<td>申请者编号</td>
				    	<td th:text="${mtApplyDetails.getApplicantId()}"></td>
				    </tr>
					<tr>
				    	<td>申请者名字</td>
				    	<td th:text="${mtApplyDetails.getApplicantName()}"></td>
				    </tr>
					<tr>
				    	<td>会议室地点</td>
				    	<td th:text="${mtApplyDetails.getMtRoomLocation()}"></td>
				    </tr>
				    <tr>
				    	
				    	<td>
						<a class="btn btn-secondary" th:href="@{/meeting/audit.do(
						mtRoomApplyId=${mtApplyDetails.getApplyId()},
						mtRoomApplyStatus=1
						)}">
						同意
						</a>
				    	</td>
				    	<td>
						<a class="btn btn-secondary" th:href="@{/meeting/audit.do(
						mtRoomApplyId=${mtApplyDetails.getApplyId()},
						mtRoomApplyStatus=0
						)}">
						拒绝
						</a>
				    	</td>
				    </tr>			
				</table>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	  
	  
</body>
</html>