<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="apublic_fragment">

<head>
<meta charset="utf-8">
<title>会议室预约</title>
</head>
<body>

	<!-- partial -->
	<div class="card-body" layout:fragment="content">
	
	
	  
	  <div class="col-12 grid-margin">
		<div class="card">
		<div class="card-body">
		  <h4 class="card-title">会议创建和会议室预约申请——第二步</h4>
		  <form class="form-sample" action="/meetingRoom/mt_create.do" method="post" th:object="${mtRoomBook}">
		  
		  	<p class="card-description">新会议信息</p>
				<div class="form-group">
				  	<label>会议名称</label>
				  	<input type="text" class="form-control" name="mtTopic" th:field="*{mtTopic}"/>
				  	<p th:if="${#fields.hasErrors('mtTopic')}" th:errors="*{mtTopic}" style="color:#FF0000">errors mtTopic</p>
				</div>
			
				<div class="form-group">
				  	<label>会议内容概述</label>
					<textarea class="form-control" rows="3" id="mtContent" name="mtContent" th:field="*{mtContent}"></textarea>
				 	<p th:if="${#fields.hasErrors('mtContent')}" th:errors="*{mtContent}" style="color:#FF0000">errors mtContent</p>
				</div>

				 <label>选择可用会议室</label>
				 <table class="table" th:if="${allMtRoomAvail}!=null">
				  <thead>
					<tr>
					  <th>
						编号
					  </th>
					  <th>
						容量
					  </th>
					  <th>
						建筑
					  </th>
					  <th>
						楼层
					  </th>
					  <th>
						房间号
					  </th>
					  <th>
						选择
					  </th>
					</tr>
				  </thead>
				  <tbody>
					<tr th:each="mtR : ${allMtRoomAvail}">
					  <td th:text="${mtR.getId()}"></td>
					  <td th:text="${mtR.getCapacity()}"></td>
					  <td th:text="${mtR.getBuilding()}"></td>
					  <td th:text="${mtR.getFloor()}"></td>
					  <td th:text="${mtR.getRoomNumber()}"></td>
					  <td><input type="radio" name="mtRoomId" th:field="*{mtRoomId}" th:value="${mtR.getId()}"></input></td>
				  </tbody>
				</table>
			
			<button type="submit" class="btn btn-success mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
			
		  </form>
		</div>
		</div>
	  </div>
		
	  
	  <div style="float: right;">
		<a class="btn btn-inverse-dark btn-fw" href="#up">返回顶层</a>
	  </div>
	  
	</div>
	<!-- content-wrapper ends -->
	
</body>

</html>
