<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="apublic_fragment">

<head>
<meta charset="utf-8">
<title>会议室</title>
</head>
<body>

	<!-- partial -->
	<div class="card-body" layout:fragment="content">	
	  
	  <div class="row" id="participatedMeeting"  th:if="${userSession.getRole().getRole()} != '管理员' ">
		<div class="col-12 grid-margin">
		  <div class="card">
			<div class="card-body">
			  <h4 class="card-title">会议室列表</h4>
			  <div class="table-responsive">
			  	<p th:if="${mtRoomList}==null" th:text=${'没有会议室信息！'}></p>
				<table class="table" th:if="${mtRoomList}!=null">
				  <thead>
					<tr>
					  <th>
						编号
					  </th>
					  <th>
						楼名
					  </th>
					  <th>
						楼层
					  </th>
					  <th>
						房间号
					  </th>
					  <th>
						容量
					  </th>
					</tr>
				  </thead>
				  <tbody>
					<tr th:each="mtRoom : ${mtRoomList}">
					  <td th:text="${mtRoom.getId()}"></td>
					  <td th:text="${mtRoom.getBuilding()}"></td>
					  <td th:text="${mtRoom.getFloor()}"></td>
					  <td th:text="${mtRoom.getRoomNumber()}"></td>
					  <td th:text="${mtRoom.getCapacity()}"></td>
				  </tbody>
				</table>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  
	</div>
	<!-- content-wrapper ends -->
	
</body>

</html>
