<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="apublic_fragment">

<head>
<meta charset="utf-8">
<title>创建用户组</title>
</head>
<body>

	<!-- partial -->
	<div class="card-body" layout:fragment="content">
	
	  
	  <div class="col-12 grid-margin">
		<div class="card">
		<div class="card-body">
		  <h4 class="card-title">创建新的用户组——提示</h4>
		  <br/>
		  &nbsp &nbsp &nbsp &nbsp &nbsp 
		  <label  th:text="${createMsg}">您已成功创建新用户组。</label>
		</div>
		</div>
	  </div>
	  
	</div>
	<!-- content-wrapper ends -->
	
	
</body>

</html>
