<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="apublic_fragment">

<head>
<meta charset="utf-8">
<title>用户信息</title>
</head>
<body>

	<!-- partial -->
	<div class="card-body" layout:fragment="content">
	
	  
	  <div class="row" id="participatedMeeting">
		<div class="col-12 grid-margin">
		  <div class="card">
			<div class="card-body">
			  <h4 class="card-title">参与的会议</h4>
			  <div class="table-responsive">
			  	<p th:if="${userInfo}==null" th:text=${'没有用户的相关信息！发生错误！'}></p>
				<table class="table table-bordered" th:if="${userInfo}!=null">
					<tr>
						<th>编号</th>
						<td th:text="${userInfo.getUserId()}"></td>
					</tr>
					
					<tr>
						<th>名称</th>
						<td th:text="${userInfo.getName()}"></td>
					</tr>
					
					<tr>
						<th>身份</th>
						<td th:text="${userInfo.getIdentity()}"></td>
					</tr>
					
					<tr>
						<th>性别</th>
						<td th:text="${userInfo.getSex()}"></td>
					</tr>
					
					<tr>
						<th>电话</th>
						<td th:text="${userInfo.getTelephone()}"></td>
					</tr>
					
					<tr>
						<th>邮箱</th>
						<td th:text="${userInfo.getEmail()}"></td>
					</tr>
				</table>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <a class="btn btn-secondary" 
		th:href="@{/user/info_change.do}">修改个人信息</a>
	  <a class="btn btn-secondary" 
		th:href="@{/user/psw_change.do}">修改密码</a>
	  
	</div>
	<!-- content-wrapper ends -->
</body>

</html>
